In [1]:
.open feed.db

## Alter `stops` to include street names as individual columns

In [82]:
ALTER TABLE
	stops
	DROP COLUMN
		stop_street;

In [83]:
ALTER TABLE
	stops
	ADD COLUMN
		stop_street
		TEXT
		GENERATED
		ALWAYS
		AS
			(CASE
				WHEN instr(stop_name, ' @ ') > 0
					THEN substr(stop_name, 1, instr(stop_name, ' @ ')-1)
				ELSE NULL
			END)
		VIRTUAL;

In [80]:
ALTER TABLE
	stops
	DROP COLUMN
		stop_cross_street;

In [81]:
ALTER TABLE
	stops
	ADD COLUMN
		stop_cross_street
		TEXT
		GENERATED
		ALWAYS
		AS
			(CASE
				WHEN instr(stop_name, ' @ ')=0
					THEN NULL
				WHEN instr(stop_name, ' @ ') > 0
					THEN substr(stop_name, instr(stop_name, ' @ ') + 3)
				ELSE 0
			END)
		VIRTUAL;

## Display the following fields for the last trip of the day for the ***89*** bus on the *Sullivan Sq to Clarendon Hill* pattern on ***Fall weekdays***

In [4]:
SELECT *
FROM
	stop_times
LIMIT
	3;

45295219|05:16:00|05:16:00|70061|1||0|1|0|alfcl||
45295219|05:18:00|05:18:00|70063|10||0|0|0|davis||
45295219|05:20:00|05:20:00|70065|20||0|0|0|portr||

In [5]:
SELECT *
FROM
	stops
LIMIT
	3;

1|1|Washington St opp Ruggles St||||42.330957|-71.082754|ExpressBus-Downtown||https://www.mbta.com/stops/1||0||1|Boston|Washington Street|Ruggles Street|3||
10|10|Theo Glynn Way @ Newmarket Sq||||42.330555|-71.068787|LocalBus||https://www.mbta.com/stops/10||0||1|Boston|Theodore Glynn Way|Newmarket Square|3|Theo Glynn Way|Newmarket Sq
10000|10000|Tremont St opp Temple Pl||||42.355692|-71.062911|LocalBus||https://www.mbta.com/stops/10000||0||1|Boston|Tremont Street|Temple Place|3||

In [3]:
SELECT *
FROM
	trips
LIMIT
	3;

1|ColumbusDay-VeteransDay-DayafterThanksgivingDay|45692465|Harvard||0|C01-9|010085|1||1-_-0|1
1|ColumbusDay-VeteransDay-DayafterThanksgivingDay|45692467|Harvard||0|C01-9|010085|1||1-_-0|1
1|ColumbusDay-VeteransDay-DayafterThanksgivingDay|45692469|Harvard||0|C01-14|010085|1||1-_-0|1

In [12]:
SELECT
	*
FROM
	route_patterns
WHERE
	route_id
		= '89'

89-2-0|89|0|Sullivan Square Station - Davis Station||1|50890000|45771950
89-_-0|89|0|Sullivan Square Station - Clarendon Hill|Weekdays only|2|50890003|45771946
89-2-1|89|1|Davis Station - Sullivan Square Station||1|50890100|45771952
89-_-1|89|1|Clarendon Hill - Sullivan Square Station|Weekdays only|2|50890103|45771947