## Alter `stops` to include street names as individual columns

In [82]:
ALTER TABLE
	stops
	DROP COLUMN
		stop_street;

In [83]:
ALTER TABLE
	stops
	ADD COLUMN
		stop_street
		TEXT
		GENERATED
		ALWAYS
		AS
			(CASE
				WHEN instr(stop_name, ' @ ') > 0
					THEN substr(stop_name, 1, instr(stop_name, ' @ ')-1)
				ELSE NULL
			END)
		VIRTUAL;

In [80]:
ALTER TABLE
	stops
	DROP COLUMN
		stop_cross_street;

In [81]:
ALTER TABLE
	stops
	ADD COLUMN
		stop_cross_street
		TEXT
		GENERATED
		ALWAYS
		AS
			(CASE
				WHEN instr(stop_name, ' @ ')=0
					THEN NULL
				WHEN instr(stop_name, ' @ ') > 0
					THEN substr(stop_name, instr(stop_name, ' @ ') + 3)
				ELSE 0
			END)
		VIRTUAL;